.volume {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  opacity: 0.75;

  .volume__icon {
    width: 18px;
    height: 18px;
  }

  .volume__bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 100%;
    width: 5px;
    background-color: rgba(120, 120, 120);
    border-radius: 100vw;
    overflow: hidden;

    .volume__progress {
      width: 100%;
      height: calc(var(--volume) * 100%);
      background-color: rgba(255, 255, 255);
      transition: height 200ms;
    }
  }
}
