.song {
  display: flex;
  gap: 10px;

  .song__album-art {
    height: 40px;
    border-radius: 4px;
  }

  .song__title {
    font-size: 16px;
  }

  .song__artists {
    font-size: 14px;
    color: rgba(255, 255, 255, 65%);
  }
}
