@font-face {
  font-family: "Montserrat";

  src: url("/Montserrat.ttf") format("truetype");
}

:root {
  color-scheme: dark;
}

html {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: white;
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: rgb(15, 15, 15);
}

html,
body,
#root {
  height: 100vh;
  max-height: 100vh;

  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  /* cursor: none; */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.index {
  display: flex;
  height: 100%;
}
